.btn {
    @include font-button;
    width: auto;
    height: 40px;
    padding: 8px 20px;
    border-radius: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $White;
    background: transparent;
    border: 1px solid transparent;
    outline: none;
    user-select: none;
    cursor: pointer;

    &.disabled {
        pointer-events: none;
        opacity: 0.5;
    }

    // Button types
    &.rounded {
        padding: 0;
        width: 40px;
        height: 40px;
        border: 1px solid $Gray-3;
        border-radius: 40px;
    
        &.active {
            box-shadow: $Shadow;
            border-color: $Purple;
            background: $Purple;
        }
    }

    &.filled {
        background: $Purple;
        color: $White;
    
        &:hover {
            background: $Linear-3;
        }
    }

    &.outlined {
        color: $Purple;
        background: transparent;
        border-color: $Purple;
    
        &:hover {
            background-color: $Purple-10;
        }
    }

    &.icon {
        background-color: $Purple-10;
    }

    &.sm {
        padding: 4px 14px;
        min-height: 30px;
        font-size: $text-xs;
    }
    &.lg {
        padding: 12px 26px;
        height: 50px;
    }

    & svg {
        width: 24px;
        height: 24px;
    }
}


