.teachers {
    &_container {
        padding-bottom: 24px;
    }

    &_list {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        grid-gap: 20px;
    }
}

.teacher-item {
    &_box {
        max-width: 240px;
        width: 100%;
        padding: 20px;
        background-color: $White;
        border-radius: 20px;
        box-shadow: $Shadow;
        transition: all 0.44s ease;
        position: relative;
    }

    &_box:hover {
        transform: scale(0.95);
    }

    &_avatar {
        width: 80px;
        height: 80px;
        border-radius: 100px;
        object-fit: cover;
        box-shadow: $Shadow;
        cursor: pointer;
    }

    &_info {
        user-select: none;
    }

    &_name {
        @include font-heading($text-sm);
        color: $Text;
        cursor: pointer;
    }

    &_major {
        max-width: 200px;
        @include font($text-xs, $font-regular);
        color: $Gray-3;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &_contact-btn.rounded {
        // padding: 18px;
        border-color: $Purple;
        background-color: $Purple;

        & svg {
            width: 18px;
            height: 18px;
        }

        & svg path {
            fill: $White;
        }
    }

    &_more-btn {
        position: absolute;
        top: 20px;
        right: 20px;

        & svg path {
            fill: $Gray-3;
        }
    }

    &_more-btn.rounded {
        width: 32px;
        height: 32px;
        padding: 8px;
        border: none;
        color: $Gray-3;
    }

    
}
