* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;

    * {
        pointer-events: none;
    }
}

button {
    background: transparent;
    border: none;
    color: inherit;
    font-family: inherit;
    cursor: pointer;
}

// Scrollbar CSS
html {
    &::-webkit-scrollbar {
        border-radius: 0;
        width: 6px;
    }
    &::-webkit-scrollbar-thumb {
        border-radius: 2px;
        background-color: $Purple;
    }
    &::-webkit-scrollbar-track {
        border-radius: 0;
        background-color: $Purple-10;
    }
}
